	<div id="calendar-container">
		<div id="new-pd" class="btn" ng-click="createPD()">Create a pantry day</div>
		<div id="edit-pd-btn" class="btn" ng-click="openEditPD()">Edit a pantry day</div>
		<div id="calendar"></div>
	</div>	

	<div id="create-pd" class="modal">
		<h2>Create a Pantry Day</h2><br/>
		<label>Choose a date: <input id="datepicker" ng-model="pantryDay.date_time" type="date"/></label>
		<br /><br />
		<label>Number of Volunteers: <input type="number" ng-model="pantryDay.num_volunteers" /></label>
		<br />
		<label>Maximum # of Clients: <input type="number" ng-model="pantryDay.max_num_clients" /></label>
		<br /><br />
		<button ng-click="addPD(pantryDay)">Create Pantry Day</button>
		<button ng-click="closeModal()">Cancel</button>
	</div>

	<div class="modal" id="edit-pd">
		<h2>Edit a Pantry Day</h2><br/>
		<label>
			Choose a date: 
			<select 
				ng-options="day.date_time as day.formatted_date for day in pantryDays"
				ng-model="pantryDay.date_time">
			</select>
		</label>
		<br /><br />
		<label>Number of Volunteers: <input type="number" ng-model="pantryDay.num_volunteers" /></label>
		<br />
		<label>Maximum # of Clients: <input type="number" ng-model="pantryDay.max_num_clients" /></label>
		<br /><br />
		<button ng-click="editPD(pantryDay)">Update Pantry Day</button>
		<button ng-click="closeModal()">Cancel</button>

	</div>

	<script>
		$('#calendar').fullCalendar();
	</script>

