<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="content-container" ng-controller="CalendarController">
			
			<div id="dayAtaGlance">
				<div id="calendarPage">
					<h1>Today is:</h1>
					<span id="today">{{ formattedToday }}</span>
				</div>
				<div id="todaysAppts">
					<h2>Appointments</h2>
					<ul>
						<li ng-repeat="appointment in todaysAppts">
						{{ appointment.first_name}}  {{ appointment.last_name}}</li>
					</ul>
				</div>
			</div>

			<div id="callsAtaGlance" ng-controller="CallsController">
				<h2>Calls at a Glance</h2>  <div id="create-vm" ng-click="openVM()">Log a voicemail</div><br/>
				<table>
					<div class="vm" ng-repeat="voicemail in toCall">	
						{{ voicemail.client.first_name }} {{ voicemail.client.last_name }} - {{ voicemail.client.display_phone}}
						<span class="callBack" ng-click="makeActive(voicemail)"><i class="fa fa-phone"></i></span>
					</div>
				</table>

				<div id="more-info" class="modal">
					{{ activeClient.client.first_name }} {{ activeClient.client.last_name }} 
					<span ng-show="activeClient.client.active_client"><i class="fa fa-check"></i></span>
					<span ng-hide="activeClient.client.active_client"><i class="fa fa-user-times"></i></span>
					<br />
					{{ activeClient.client.display_phone }}<br /><br />
					Next Allowable Appointment: <br />
					<span>{{ activeClient.client.next_allowable_appointment }} </span>
					<br />
					<br />
					<ul>Notes: 
					<li ng-repeat="note in clientNotes">{{ note.info }}</li>
					</ul>
					<button ng-click="toggleEditNoteMode(activeClient)">Notes</button>
					<button ng-click="toggleEditClientMode(activeClient)">Edit Client</button>
					<button ng-click="openBooking(activeClient)">Book</button><br /><br />
					<label>Resolved?<input type="checkbox" ng-model="activeClient.resolved" class="resolved-check" ng-click="resolve(activeClient)"/></label>
				</div>

				<form id="edit-note" ng-controller="ClientController" ng-if="activeClient" class="modal">
					<label>First Name: <input type="text" ng-model="activeClient.client.first_name"/></label><br />
					<label>Last Name: <input type="text" ng-model="activeClient.client.last_name"/></label><br />
					<label>Phone Number: <input type="tel" ng-model="activeClient.client.display_phone"/></label><br />

					<br />
					<br />
					<label>Notes: <textarea id="new-note"></textarea></label><br />
					<button ng-click="addNewNote(activeClient)">Add Note</button>
					<button ng-click="cancelEdit(activeClient)">Cancel</button>
					</ul>
				</form>

				<form ng-controller="ClientController" id="edit-client" class="modal">
					<label>First Name: <input ng-model="activeClient.client.first_name" /></label> 
					<br />
					<label>Last Name: <input ng-model="activeClient.client.last_name" /> </label>
					<br />
					<label>Address: <input ng-model="activeClient.client.address" /> </label>
					<br />
					<label>Zip: <input ng-model="activeClient.client.zip" /> </label>
					<br />
					<label>Phone: <input ng-model="activeClient.client.display_phone" /> </label>
					<br />
					<label>County: <input ng-model="activeClient.client.county" /> </label>
					<br />
					<label>Family Size: <input ng-model="activeClient.client.family_size" /> </label>
					<br />
					<label>Account: <input ng-model="activeClient.client.account_number" /> </label>
					<br />
					<label>Email: <input ng-model="activeClient.client.email" /></label>
					<br />
					<label>Active Client? <input type="checkbox" ng-model="activeClient.client.active_client"></label>
					<br /><br />
					<button ng-click="updateClient(activeClient)">Update</button>
					<button ng-click="cancelEdit(activeClient)">Cancel</button>
				</form>


				<!-- Creates new VM -->
				<form ng-controller="ClientController" id="add-vm" class="modal">
					<label>First Name: <input ng-model="newVM.first_name" /></label> 
					<br />
					<label>Last Name: <input ng-model="newVM.last_name" /> </label>
					<br />
					<label>Phone: <input ng-model="newVM.display_phone" /> 
					<br /></label>
					<br />
					<label>Notes:<textarea id="vm-note"></textarea></label>
					<br />
					<button ng-click="searchClients(newVM)">Add Voicemail</button>
					<br /><br />
				</form>

				<!-- Books a client -->
				<form id="book-client" class="modal">
					<h2>Book a client</h2><br />
					<label>Date: <input id="book-datepicker" /></label> 
					<span id="found-avail"></span>
					<br /><br />
					<button ng-click="searchAvail(activeClient)">Search availability</button>
					<label></label>
				</form>

			</div>


		</div>

		<script>
		$( "#book-datepicker").datepicker();
		</script>
</body>
</html>